@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #06090c;
  color: #ffffff;
}

.gradient-text {
  background: linear-gradient(to right, #39a1f7, #cae3f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.glass-effect {
  box-shadow: 0 8px 32px 0 rgba(20, 25, 85, 0.2);
  /* backdrop-filter: blur(8px); */
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
